.stamp-grid-wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

}

.stamp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 216px);
  padding-top: 5px;
  gap: 23px;
  width: 100%;
  box-sizing: border-box;

}

@media (max-width: 640px) {
  .stamp-grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    gap: 16px;
  }
}